/********** General **********/

@font-face {
    font-family: Designio;
    src: url('fonts/designio.otf');
    font-weight: normal;
}

@font-face {
    font-family: SegoeUI;
    src: url('fonts/segoeui.ttf');
    font-weight: normal;
}

@font-face {
    font-family: SegoeUI;
    src: url('fonts/segoeuib.ttf');
    font-weight: bold;
}

@font-face {
    font-family: SegoeUI;
    src: url('fonts/segoeuil.ttf');
    font-weight: 100;
}

@font-face {
    font-family: SegoeUI;
    src: url('fonts/seguisb.ttf');
    font-weight: 300;
}

html, body, #content {
    height: 100%;
}

textarea::-webkit-input-placeholder {
    font-style: normal !important;
    color: #BBBBBB !important;
}
textarea:-moz-placeholder {
    font-style: normal !important;
    color: #BBBBBB !important;
}
textarea::-moz-placeholder {
    font-style: normal !important;
    color: #BBBBBB !important;
}
textarea:-ms-input-placeholder {
    font-style: normal !important;
    color: #BBBBBB !important;
}

.sapMLabel, .sapMText, .sapMButton {
    font-family: SegoeUI;
    text-shadow: none;
}

.sap-desktop .sapMRbBOut:focus {
    outline: none;
}

.sapMBtnInner {
    outline: none !important;
}

.sapMRbBOut:focus {
    outline: none !important;
}

.header {
    background-color: #21DBE8;
    border-bottom: 1px solid white;
}

.header .sapMText, .header .sapMLabel {
    font-size: 1.2em !important;
    font-family: Designio !important;
    color: white !important;
}

.header .homeButton {
    border-right: 1px solid white;
    padding-right: 0.5em;
    padding-left: 0.2em;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3em;
    background-color: #FF745C;
    border-bottom: none;
    border-top: 1px solid white;
}

.footer .sapMText, .footer .sapMLabel {
    font-family: SegoeUI !important;
    font-size: 1.2em !important;
    font-weight: 100 !important;
    color: white !important;
}

/********** Login page **********/

#loginPage {
    background-color: #34DEEA;
}

#loginPage .sapMInputBase {
    padding: 0;
}

#loginPage .sapMInputBaseInner {
    border: none;
}

#loginPage .sapMLabel {
    color: white;
    font-size: 1em;
}

#loginPage .sapMRb .sapMLabel {
    font-weight: 100;
}

#loginPage .sapMRbB .sapMRbBOut {
    border: 1px solid white;
    background-color: transparent;
}

#loginPage .sapMRbSel .sapMRbBInn {
    background-color: white;
}

#loginPage .sapMSlt {
    border-radius: 5px;
    border: none;
}

#loginPage .centeredLayout, #submissionAlertPage .centeredLayout {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

#loginPage .sapMLabel#appNameLabel {
    font-family: Designio;
    font-weight: normal;
    font-size: 2em;
    margin-top: 0.2em;
    margin-left: 0.2em;
}

#loginPage .marginedLeft {
    padding-left: 3em;
}

#appLayout {
    margin-top: 3em;
    margin-bottom: 2em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

#appLogoIcon {
    color: white;
}

#usernameTextArea .sapMInputBaseInner {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom: 1px solid #f2f2f2;
}

#emailTextArea .sapMInputBaseInner {
    border-bottom: 1px solid #f2f2f2;
}

#yearOfBirthTextArea .sapMInputBaseInner {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom: 1px solid #f2f2f2;
}

#genderLabel {
    line-height: 2.9em;
    font-weight: 300;
}

#genderLayout {
    margin-top: 2em;
}

#yearOfBirthLabel {
    line-height: 2.8em;
    margin-right: 1em;
}

#dateOfOnsetYearSelect {
    margin-left: 1em;
}

#dateOfOnsetSelectLayout {
    margin-top: 0.5em;
}

#dateOfOnsetLayout {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

#loginPage .sapMLabel#loginLabel {
    position: absolute;
    bottom: 0;
    background-color: #15BFCB;
    border-top: 1px solid white;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-family: Designio;
    font-size: 1.7em;
}

/********** Weekly tasks page **********/

.taskIcon{
    margin: 0.5em 0.2em 0.5em 0.5em;
    width: 10%
}
.task{
    margin: 0.5em 0.1em 0.5em 0.5em;
    width:  35%;
}

.dateStatus{
    margin: 0.5em 0.1em 0.5em 0.5em;
    font-size: 10px;
    width:  15%;
}

.date{
    margin: 0.5em 0.1em 0.5em 0.5em;
    font-size: 10px;
    width:  20%;
}

.statusIcon{
    margin: 0.5em 0.1em 0.5em 0.5em;
    width:  3%;
}

.subtitle{
    margin: 0.5em 0.1em 0.5em 0.5em;
}

/********** Questions page **********/

.question-view {
    height: 100%;
}

/*********** Submission Alert page *****/


#submissionAlertPage .sapMLabel {
    color: black;
    font-size: 2.5em;
    font-family: SegoeUI;
    font-weight: normal;
}

#submissionAlertPage #timeLabel {
    color: black;
    font-size: 1em;
    font-family: SegoeUI;
    font-weight: normal;
}
#submissionAlertPage #orLabel {
    color: white;
    font-size: 1.5em;
    font-family: SegoeUI;
    font-weight: normal;
    display: table;
    margin-left: auto;
    margin-right: auto;
}

#submissionAlertPage #startAgainLnk {
    color: white;
    font-size: 1.5em;
    font-family: SegoeUI;
    font-weight: 100;
    display: table;
    margin-left: auto;
    margin-right: auto;
}

#submissionAlertPage .sapMBtnContent {
    color: #34DEEA;
    font-size: 1.5em;
    font-family: SegoeUI;
    font-weight: 100;
}
#submissionAlertPage .sapMBtn {
    display: table;
    margin-left: auto;
    margin-right: auto;
}
#submissionAlertPage .whiteCenteredLayout{
    display: table;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding-top: 2em;
}

#submissionAlertPage .blueCenteredLayout{
    display: table;
    margin-left: auto;
    margin-right: auto;
    background-color: #34DEEA;
    padding-top: 2em;
    padding-bottom: 2em;
}

#question_layout {
    height: 100%;
}

#question_layout .sapUiVltCell.sapuiVltCell:nth-child(2){
    height: 100%;
}

.question_footer {
    width: 100%;
    position: absolute;
    bottom: 3em;
}

.questions_header {
    background-color: #15bfcb;
    width: 100%;
}

.questions_header .sapMLabel{
    position: absolute;
    color: #FFF;
}

.questions_header .sapMLabel.page_num{
    right: 1em;
}

.questions_header .sapMLabel.question_title{
    left: 1em;
}
