

/*********************** WEEKLY-TASKS PAGE****************/
.taskIcon{
    margin: 0.5em 0.2em 0.5em 0.5em;
    width: 10%
}
.task{
    margin: 0.5em 0.1em 0.5em 0.5em;
    width:  35%;
}

.dateStatus{
    margin: 0.5em 0.1em 0.5em 0.5em;
    font-size: 10px;
    width:  15%;
}

.date{
    margin: 0.5em 0.1em 0.5em 0.5em;
    font-size: 10px;
    width:  20%;
}

.statusIcon{
    margin: 0.5em 0.1em 0.5em 0.5em;
    width:  3%;
}

.subtitle{
    margin: 0.5em 0.1em 0.5em 0.5em;
}
/************************************************************/