<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>ALS backend application</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<resource-ref>
		<res-ref-name>jdbc/DefaultDB</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
	</resource-ref>
	<servlet>
		<servlet-name>QuestionnaireServlet</servlet-name>
		<servlet-class>als.api.servlets.QuestionnaireServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QuestionnaireServlet</servlet-name>
		<url-pattern>/questionnaire/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TestMe</servlet-name>
		<servlet-class>als.api.servlets.TestMe</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestMe</servlet-name>
		<url-pattern>/test-me/*</url-pattern>
	</servlet-mapping>
</web-app>