/********** General **********/

@font-face {
    font-family: Designio;
    src: url('fonts/designio.otf');
    font-weight: normal;
}

@font-face {
    font-family: SegoeUI;
    src: url('fonts/segoeui.ttf');
    font-weight: normal;
}

@font-face {
    font-family: SegoeUI;
    src: url('fonts/segoeuib.ttf');
    font-weight: bold;
}

@font-face {
    font-family: SegoeUI;
    src: url('fonts/segoeuil.ttf');
    font-weight: 100;
}

@font-face {
    font-family: SegoeUI;
    src: url('fonts/seguisb.ttf');
    font-weight: 300;
}

html, body, #content {
    height: 100%;
}

Input::-webkit-input-placeholder {
    font-style: normal !important;
    color: #BBBBBB !important;
}
Input:-moz-placeholder {
    font-style: normal !important;
    color: #BBBBBB !important;
}
Input::-moz-placeholder {
    font-style: normal !important;
    color: #BBBBBB !important;
}
Input:-ms-input-placeholder {
    font-style: normal !important;
    color: #BBBBBB !important;
}

.sapMLabel, .sapMText, .sapMButton {
    font-family: SegoeUI;
    text-shadow: none;
}

.sap-desktop .sapMRbBOut:focus {
    outline: none;
}

.sapMBtnInner {
    outline: none !important;
}

.sapMRbBOut:focus {
    outline: none !important;
}

.header {
    background-color: #21DBE8;
    border-bottom: 1px solid white;
}

.header .sapMText, .header .sapMLabel {
    font-size: 1.2em !important;
    font-family: Designio !important;
    color: white !important;
}

.header .homeButton {
    border-right: 1px solid white;
    padding-right: 0.5em;
    padding-left: 0.2em;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3em;
    background-color: #FF745C;
    border-bottom: none;
    border-top: 1px solid white;
}

.footer .sapMText, .footer .sapMLabel {
    font-family: SegoeUI !important;
    font-size: 1.2em !important;
    font-weight: 100 !important;
    color: white !important;
}

/********** Login page **********/

#loginPage,
#registerPage {
    background-color: #34DEEA;
}

#loginPage .sapMInputBase,
#registerPage .sapMInputBase {
    padding: 0;
    height: 2.5em;
}

#loginPage .sapMInputBaseInner,
#registerPage .sapMInputBaseInner{
    border: none;
}

#loginPage .sapMLabel,
#registerPage .sapMLabel {
    color: white;
    font-size: 1em;
}

#loginPage .sapMRb .sapMLabel,
#registerPage .sapMRb .sapMLabel {
    font-weight: 100;
}

#loginPage .sapMRbB .sapMRbBOut,
#registerPage .sapMRbB .sapMRbBOut {
    border: 1px solid white;
    background-color: transparent;
}

#loginPage .sapMRbSel .sapMRbBInn,
#registerPage .sapMRbSel .sapMRbBInn {
    background-color: white;
}

#loginPage .sapMSlt,
#registerPage .sapMSlt {
    border-radius: 5px;
    border: none;
}

#loginPage .centeredLayout,
#registerPage .centeredLayout,
#submissionAlertPage .centeredLayout{
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.sapMLabel#appNameLabel {
    font-family: Designio;
    font-weight: normal;
    font-size: 2em;
    margin-top: 0.2em;
    margin-left: 0.2em;
}

.sapMLabel#registerLabel {
    margin-top: 3em;
    margin-bottom: 2em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 1.3em;
    font-weight: 100;
}

#newHereLayout {
    margin-top: 0.5em;
}

.sapMLabel#firstUseLabel {
    margin-top: 1em;
    font-size: 1.1em;
}

.sapMLabel#disclaimerLabel {
    margin-top: 15em;
    margin-bottom: 1em;
    font-size: 1em;
    font-weight: 100;
}

.sapMLabel#alreadyRegisteredLabel {
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 1em;
    font-weight: 100;
}

#appLogoIcon,
#appLogoIconRegister {
    margin-top: 3em;
    margin-bottom: 3em;
}

#usernameInput .sapMInputBaseInner {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom: 1px solid #f2f2f2;
}

#emailRegisterInput .sapMInputBaseInner {
    border-bottom: 1px solid #f2f2f2;
}

#yearOfBirthInput .sapMInputBaseInner {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom: 1px solid #f2f2f2;
}

#emailInput .sapMInputBaseInner {
    border-radius: 5px;
}

#genderLabel {
    line-height: 2.9em;
    font-weight: 300;
}

#genderLayout {
    margin-top: 1.5em;
}

#dateOfOnsetYearSelect {
    margin-left: 1.9em;
}

#dateOfOnsetSelectLayout {
    margin-top: 0.5em;
}

#dateOfOnsetLayout {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

#contentLayout,
#registerContentLayout {
    position: absolute;
    top: 0;
    bottom: 3em;
    overflow: auto;
}

.sapMLabel#loginLabel,
.sapMLabel#registerFooterLabel {
    position: absolute;
    bottom: 0;
    background-color: #15BFCB;
    border-top: 1px solid white;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-family: Designio;
    font-size: 1.7em;
}

/********** Weekly tasks page **********/

#weeklyTasksPage .sapMLabel.subtitle{
    background-color: #15bfcb;
    color: white;
    padding: 0.5em 0.2em 0.5em 0.5em;
}

#weeklyTasksPage .sapMLIBContent{
    background-color: #f2f2f2;
    border-left-color: #ff745c;
    border-width: 3px;
    border-left-style: solid;
    height: 100%;
}

#weeklyTasksPage .sapMLabel{
    color: #4d4d4d;
    font-family: SegoeUI;
    font-weight: normal;
    overflow : visible;
}
#weeklyTasksPage .sapMLIB{
    border-bottom: 1px solid #CCCCCC;
    border-top: 2px solid white;
}


/* Setting css for list rows*/
#weeklyTasksPage .taskIcon.sapMImg {
    margin: 0.5em;
    width: 3%;
    height: 2.5em;
    align-self: stretch;
   /* align-content: space-around;*/
}

#weeklyTasksPage .task{
    margin-left: 0.5em;
    height: 100%;
    width: auto;
}

#weeklyTasksPage .dateStatus.sapMLabel.sapMLabelMaxWidth.sapUiSelectable
{
    text-align: center !important;
    font-size: 0.8em;
    width: 100%;
}

#weeklyTasksPage .statusIcon{
    display: block;
    margin-left: auto;
    margin-right:auto
}

#weeklyTasksPage .layout{
    width:20%;
    float:right;
    margin-top:0.5em;
    margin-bottom: 0.5em;
    height: 100%;
}

/********** Questions page **********/

.question-view {
    height: 100%;
}

/********** Submission Alert page **********/


#submissionAlertPage .sapMLabel {
    color: black;
    font-size: 2.5em;
    font-family: SegoeUI;
    font-weight: normal;
}

#submissionAlertPage #timeLabel {
    color: black;
    font-size: 1em;
    font-family: SegoeUI;
    font-weight: normal;
}
#submissionAlertPage #orLabel {
    color: white;
    font-size: 1.5em;
    font-family: SegoeUI;
    font-weight: normal;
    display: table;
    margin-left: auto;
    margin-right: auto;
}

#submissionAlertPage #startAgainLnk {
    color: white;
    font-size: 1.5em;
    font-family: SegoeUI;
    font-weight: 100;
    display: table;
    margin-left: auto;
    margin-right: auto;
}

#submissionAlertPage .sapMBtnContent {
    color: #34DEEA;
    font-size: 1.5em;
    font-family: SegoeUI;
    font-weight: 100;
}
#submissionAlertPage .sapMBtn {
    display: table;
    margin-left: auto;
    margin-right: auto;
}
#submissionAlertPage .whiteCenteredLayout{
    display: table;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding-top: 2em;
}

#submissionAlertPage .blueCenteredLayout{
    display: table;
    margin-left: auto;
    margin-right: auto;
    background-color: #34DEEA;
    padding-top: 2em;
    padding-bottom: 2em;
}

#question_layout {
    height: 100%;
}

#question_layout .sapUiVltCell.sapuiVltCell:nth-child(2){
    height: 100%;
}

.question_footer {
    width: 100%;
    position: absolute;
    bottom: 3em;
}

.questions_header {
    background-color: #15bfcb;
    width: 100%;
}

.questions_header .sapMLabel{
    position: absolute;
    color: #FFF;
}

.questions_header .sapMLabel.page_num{
    right: 1em;
}

.questions_header .sapMLabel.question_title{
    left: 1em;
}

#completedPage {
    background-image: url('../images/BG.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

#completedPage #ribbonIcon {
    margin-top: 10em;
    margin-left: auto;
    margin-right: auto;
    display: table;
}

#completedPage #completedLabel{
    position: absolute;
    bottom: 5em;
    color:#ffffff;
    text-decoration: underline;
    font-weight: 100;
    font-size: 1.5em;
}

#speechPage #finishBtn {
    position: absolute;
    bottom: 0;
    background-color: #15BFCB;
    border-top: 1px solid white;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-family: Designio;
    font-size: .7em;
}

.finishLayout {
    position: absolute;
    bottom: 0;
    background-color: #15BFCB;
    border-top: 1px solid white;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-family: Designio;
    font-size: 1.7em;
}
